<h3>Cart Details</h3>
<table class="table table-striped">
  <tr>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Unit Price</th>
    <th>Quantity</th>
    <th>Total Price</th>
    <th>&nbsp;</th>
  </tr>
  <tr *ngFor="let item of storeService.cart.cartItems">
    <td><a routerLink="/items/{{item.item.id}}"><img src="/assets/angular.svg" width="70px"/></a></td>
    <td><a routerLink="/items/{{item.item.id}}">{{item.item.name}}</a></td>
    <td><a routerLink="/items/{{item.item.id}}">{{item.item.price}}</a></td>
    <td><input type="number" [(ngModel)]="item.quantity" size="2" id="quantity"/></td>
    <td><a routerLink="/items/{{item.item.id}}">{{item.item.price * item.quantity}}</a></td>
    <td><input type="button" (click)="removeFromCart(item)" id="remove" value="Remove"/></td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
    <td>{{storeService.cart.getTotalValue()}}</td>
    <td>&nbsp;</td>
  </tr>  
</table>
<button (click)="emptyCart()" id="empty" [disabled]="storeService.cart.cartItems.length == 0">Empty Cart</button><br/>
<button routerLink="/checkout" id="checkout" [disabled]="storeService.cart.cartItems.length == 0 || !storeService.cart.isCartValid()">Go to Checkout..</button><br/>
<button routerLink="">Back to items</button><br/>
