<button (click)="openFilter()">Filters</button>
Page size:
<select [(ngModel)]="storeService.pageSize" (change)="onPageSizeChange()" id="pageSize">
  <option value="3">3</option>
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="50">50</option>
</select>
<br/>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Unit Price</th>
    <th>Category</th>
  </tr>
  <tr *ngFor="let item of storeService.items">
    <td><a routerLink="/admin/item/{{item.id}}"><img src="{{imageUrl}}/{{(item.images !== undefined)? item.images[0].fileName : ''}}" height="40px"/></a></td>
    <td><a routerLink="/admin/item/{{item.id}}">{{item.name}}</a></td>
    <td><a routerLink="/admin/item/{{item.id}}">{{item.price}}</a></td>
    <td><a routerLink="/admin/item/{{item.id}}">{{item.category}}</a></td>
    <td><button (click)="delete(item)">Delete</button></td>
  </tr>
</table>

<ngb-pagination
  [(page)]="storeService.page"
  [pageSize]="storeService.pageSize"
  [collectionSize]="storeService.count"
  (pageChange)="onPageChange($event)"></ngb-pagination>

<br/>
<button routerLink="/admin/new_item">Add new Item</button>

