<h2>Registration</h2>
<div class="card">
    <div class="card-body" id="cartBody">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="firstName">First Name:</label>
                    <input type="text" formControlName="firstName" class="form-control form-control-sm" 
                        [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.firstName.errors }"/>              
                    <div *ngIf="registrationForm.controls['firstName'].invalid && (registrationForm.controls['firstName'].dirty || registrationForm.controls['firstName'].touched)"
                        class="text-danger">
                        <div *ngIf="registrationForm.controls.firstName?.errors?.required">First name is required</div>
                        <div *ngIf="registrationForm.controls.firstname?.errors?.minlength">First name must be at least 1 character long</div>  
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="lastName">Last Name:</label>
                    <input type="text" formControlName="lastName" class="form-control form-control-sm" 
                        [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.lastName.errors }"/>    
                    <div *ngIf="registrationForm.controls['lastName'].invalid && (registrationForm.controls['lastName'].dirty || registrationForm.controls['lastName'].touched)"
                        class="text-danger">
                        <div *ngIf="registrationForm.controls.lastName.errors?.required">Last name is required</div>
                        <div *ngIf="registrationForm.controls.lastName.errors?.minlength">Last name must be at least 1 character long</div>  
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="username">User Name:</label>
                    <input type="text" formControlName="username" class="form-control form-control-sm" 
                        [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.username.errors }"/>  
                    <div *ngIf="registrationForm.controls['username'].invalid && (registrationForm.controls['username'].dirty || registrationForm.controls['username'].touched)"
                        class="text-danger">
                        <div *ngIf="registrationForm.controls.username.errors?.required">Username is required</div>
                        <div *ngIf="registrationForm.controls.username.errors?.minlength">Username must be at least 4 characters long</div>  
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="password">Password:</label>
                    <input type="password" formControlName="password" class="form-control form-control-sm" 
                        [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.password.errors }"/>     
                    <div *ngIf="registrationForm.controls['password'].invalid && (registrationForm.controls['password'].dirty || registrationForm.controls['password'].touched)"
                        class="text-danger">
                        <div *ngIf="registrationForm.controls.password.errors?.required">Password is required</div> 
                    </div> 
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="confirmPassword">Confirm password:</label>
                    <input type="password" formControlName="confirmPassword" class="form-control form-control-sm" 
                        [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.confirmPassword.errors && registrationForm?.errors?.passwordsMustMatch }"/>  
                    <div *ngIf="(registrationForm.controls['confirmPassword'].invalid || registrationForm?.errors?.passwordsMustMatch) && (registrationForm.controls['confirmPassword'].dirty || registrationForm.controls['confirmPassword'].touched)"
                        class="text-danger">
                        <div *ngIf="registrationForm.controls.confirmPassword.errors?.required">Confirm Password is required</div>
                        <div *ngIf="registrationForm?.errors?.passwordsMustMatch">Passwords must match</div>
                    </div>  
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="email">Email:</label>
                    <input type="text" formControlName="email" class="form-control form-control-sm" 
                        [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.email.errors }"/>  
                    <div *ngIf="registrationForm.controls['email'].invalid && (registrationForm.controls['email'].dirty || registrationForm.controls['email'].touched)"
                        class="text-danger">
                        <div *ngIf="registrationForm.controls.email.errors?.required">Email is required</div>  
                        <div *ngIf="registrationForm.controls.email.errors?.email">Email must be a valid email address</div>
                    </div>
                </div>
            </div>
            <re-captcha formControlName="recaptcha" (resolved)="onCaptchaResolved($event)" siteKey="6LfxP8IfAAAAACCm4xcrhmBi5jL9vKnG4tfoCu2D"></re-captcha>
            <button type="submit" [disabled]="!registrationForm.valid">Register</button>
        </form>
    </div>
    <div *ngIf="success && submitted" class="alert alert-success" role="alert">
        Registration was successful. A confirmation email has been sent to: {{this.registrationForm.controls.email.value}} <br/>
        <button routerLink="/{{this.returnUrl}}">Continue</button>
    </div>
    <div *ngIf="!success && submitted" class="alert alert-danger" role="alert">{{errorMessage}}</div>
</div>
