<h2>Password Reset</h2>
<div class="card">
    <div class="card-body" id="cartBody">
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="email">Please type your email address:</label>
                    <input type="text" formControlName="email" class="form-control form-control-sm" 
                        [ngClass]="{ 'is-invalid': submitted && forgotForm.controls.email.errors }"/>  
                    <div *ngIf="forgotForm.controls['email'].invalid && (forgotForm.controls['email'].dirty || forgotForm.controls['email'].touched)"
                        class="text-danger">
                        <div *ngIf="forgotForm.controls.email.errors?.required">Email is required</div>  
                        <div *ngIf="forgotForm.controls.email.errors?.email">Email must be a valid email address</div>
                    </div>
                </div>
            </div>
            <button type="submit" [disabled]="!forgotForm.valid">Submit</button>
        </form>
    </div>
    <div *ngIf="success && submitted" class="alert alert-success" role="alert">
        Password was reset successful. An email with instructions has been sent to: {{this.forgotForm.controls.email.value}}
    </div>
    <div *ngIf="!success && submitted" class="alert alert-danger" role="alert">{{errorMessage}}</div>
</div>