<h2>New Password</h2>
<div class="card">
    <div class="card-body" id="cartBody">

        <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="password">Password:</label>
                    <input type="password" formControlName="password" class="form-control form-control-sm" 
                        [ngClass]="{ 'is-invalid': submitted && newPasswordForm.controls.password.errors }"/>     
                    <div *ngIf="newPasswordForm.controls['password'].invalid && (newPasswordForm.controls['password'].dirty || newPasswordForm.controls['password'].touched)"
                        class="text-danger">
                        <div *ngIf="newPasswordForm.controls.password.errors?.required">Password is required</div> 
                    </div> 
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="confirmPassword">Confirm password:</label>
                    <input type="password" formControlName="confirmPassword" class="form-control form-control-sm" 
                        [ngClass]="{ 'is-invalid': submitted && newPasswordForm.controls.confirmPassword.errors && newPasswordForm?.errors?.passwordsMustMatch }"/>  
                    <div *ngIf="(newPasswordForm.controls['confirmPassword'].invalid || newPasswordForm?.errors?.passwordsMustMatch) && (newPasswordForm.controls['confirmPassword'].dirty || newPasswordForm.controls['confirmPassword'].touched)"
                        class="text-danger">
                        <div *ngIf="newPasswordForm.controls.confirmPassword.errors?.required">Confirm Password is required</div>
                        <div *ngIf="newPasswordForm?.errors?.passwordsMustMatch">Passwords must match</div>
                    </div>  
                </div>
            </div>
            <button type="submit" [disabled]="!newPasswordForm.valid">Change password</button>
        </form>
    </div>
    <div *ngIf="success && submitted" class="alert alert-success" role="alert">
        Password change was successful<br/>
        <button routerLink="/login">Log in</button>
    </div>
    <div *ngIf="!success && submitted" class="alert alert-danger" role="alert">{{errorMessage}}</div>
</div>
